
body {
	margin:0px;
	padding: 0px;
	background: #333;
	background-image: url();
	background-repeat: no-repeat;
	background-color: #333;	
}

body {
	font-size: 12px;
	color: #000;
	font-family: "宋体";
	line-height: 20px;
}

td,tr,th {
	font-size: 12px;
	color: #000;
	font-family: "宋体";
	line-height: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

img {
	border: 0;
}

form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

a:link,a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF6600;
}
a:active {
	text-decoration: none;
}

a.menutop:link,a.menutop:visited {
    color:#FFFFFF;
	line-height: 14px;
	text-decoration: none;
}
a.menutop:hover,a.menutop:active{
	color:#FFFFCC;
	line-height: 14px;
	text-decoration: none;
}

a.xhx:link,a.xhx:visited  {
	color: #000;
	text-decoration: underline;
}

a.xhx:hover,a.xhx:active  {
	color: #000;
	text-decoration: underline;
}

a.content_a:link,a.content_a:visited {
    color:#000000;
	text-decoration: underline;
}

a.content_a:hover{
	color:#FF6600;
	text-decoration: underline;
}

a.content_a:active {
	color:#FF6600;
	text-decoration: underline;
}

.cu {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	font-weight: bolder;
}

.wz {
	font-family: "宋体";
	font-size: 12px;
	line-height: 30px;
	color: #000;
}
a:link {
	text-decoration: none;
}

.word1 {
	font-size: 12px;
	line-height: 20px;
	color: #67423a;
}
.word2 {
	font-size: 12px;
	line-height: 20px;
	color:#000000;
}
.style1 {
	color: #FFFFFF;
	font-size: 12px;
}
.txt1 {
	font-size: 16px;
	line-height: 24px;
}

.txt2 {
	font-size: 12px;
	line-height: 25px;
	color: #696969;
}

.txt5 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.font12 {
	font-size:12px;
	font-weight: bold;
}

.cpmcen {
	font-size: 12px;
}

.cpmcen a {
	color:#000000;
	text-decoration: underline;
}

.cpmcen a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.zi {
	color: #000000;
}

.zi a {
	color: #000000;
}

.zi a:hover {
	color: #FF6600;
}

.specialemp {
	color: #F00;
	font-weight: bold;
}

A.menuleft:link {
	COLOR: #000000;
	LINE-HEIGHT: 16px;
	TEXT-DECORATION: none
}
A.menuleft:visited {
	COLOR: #000000;
	LINE-HEIGHT: 16px;
	TEXT-DECORATION: none
}
A.menuleft:hover {
	COLOR: #ff6600;
	LINE-HEIGHT: 16px;
	TEXT-DECORATION: none
}
A.menuleft:active {
	COLOR: #000000;
	LINE-HEIGHT: 16px;
	TEXT-DECORATION: none
}

A.cemphasis:link {
	COLOR: #A5134E; TEXT-DECORATION: underline
}
A.cemphasis:visited {
	COLOR: #A5134E; TEXT-DECORATION: underline
}
A.cemphasis:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
A.cemphasis:active {
	COLOR: #A5134E;
}