<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cakeonline</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddGoodsServlet</display-name>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>cn.cakeonline.servlet.AddGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/admin/addgoods.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.cakeonline.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodsPic</display-name>
    <servlet-name>AddGoodsPic</servlet-name>
    <servlet-class>cn.cakeonline.dao.AddGoodsPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsPic</servlet-name>
    <url-pattern>/admin/addgoodspic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetTypesServlet</display-name>
    <servlet-name>GetTypesServlet</servlet-name>
    <servlet-class>cn.cakeonline.servlet.GetTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTypesServlet</servlet-name>
    <url-pattern>/admin/gettypes.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>管理员登录</description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>cn.cakeonline.servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>cn.cakeonline.servlet.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/user/tocart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeOrderServlet</display-name>
    <servlet-name>MakeOrderServlet</servlet-name>
    <servlet-class>cn.cakeonline.servlet.MakeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeOrderServlet</servlet-name>
    <url-pattern>/user/makeorder.do</url-pattern>
  </servlet-mapping>
</web-app>